<h1>Logins</h1>
<%= paginate @logins %>
<table cellpadding="0" cellspacing="1" class="db_table">
  <tr>
    <th>Title</th>
    <th>Login</th>
    <th>Password</th>
    <th>Url</th>
    <th colspan="2">Actions</th>
  </tr>

  <% @logins.each do |login| %>
      <tr class="data_row">
        <td><%= login.title %></td>
        <td><%= login.login %></td>
        <td><%= login.password %></td>
        <td><%= login.url %></td>
        <td>
          <div id="button_login_<%= login.id %>" class="button_16" title="<%= t "hints.gears_button" %>"></div>
          <script>menus["button_login_<%= login.id %>"] = {
              items:[
                  {label:"Show", href:"<%= login_path  login %>" },
                  {label:"Edit", href:"<%= edit_login_path   login %>" }
              ]
          };
          </script>
        </td>
        <td><%= link_to image_tag('destroy.png', :border=>0), login_path(login), :confirm => 'Are you sure?', :method => :delete, :title=>"Delete" %></td>
      </tr>
  <% end %>
</table>
<%= paginate @logins %>
<br/>
<%= link_to 'New login', new_login_path, :class=>"crud_button btn_new" %>
