<h1>Results for &lt;<%= link_to @site_title, site_path(@site) %>&gt; site</h1>
<!--div style="height:40px; overflow:hidden;"-->
<p style="  float: left;          line-height: 30px;          margin: 0 12px 0 0;           padding: 0;  ">
  <b>Site status:</b>
  <span site_id="<%= @site.id %>" class="<%= site_status_class @site %>"><%= @site.status %></span>
</p>
<%= run_button_for @site, false %>
<!--/div-->
<div style="clear:both;"></div>
<span id="filter_trigger" title="click to open filter">filter:</span><br/><br/>
<div id="filter">
  <h2>Filter</h2>

  <div class="form_hint">Filter options are joined with "AND" logic. Use % symbol in text fields as a wildcard (which
    means 'any number of arbitrary characters')
  </div>
  <%= form_tag site_results_path(@site), :method=> 'get' do %>
      <label title="Ref code starts with">Ref code: <%= text_field_tag :ref_code, params[:ref_code] %></label>
      <label title="Working title starts with">Working
        title: <%= text_field_tag :working_title, params[:working_title] %></label>
      <label title="Location starts with">Location: <%= text_field_tag :location, params[:location] %></label>
      <label title="Organization name starts with">Organization
        name: <%= text_field_tag :organization_name, params[:organization_name] %></label><label title="Brief description starts with">Brief
  description: <%= text_field_tag :brief_description, params[:brief_description] %></label>

      <label title="Time crawled not later than">Time
        crawled: <%= select_tag :time_span, options_for_select([
                                                                       ["all", 0],
                                                                       ["1 day ago", 24],
                                                                       ["3 days age", 72],
                                                                       ["last week", 144],
                                                                       ["last month", 720],
                                                                       ["last year", 8760]
                                                               ]) %></label>

      <div style="clear:both;"></div>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<div id='filters'>

  <%= form_for :results, :url => customize_results_path(@site),
               :remote => true,
               :html => { :id => 'customize-table' }  do |form| %>

      <%= form.hidden_field :site_id, :value => @site.id %>
      <%= form.hidden_field :fields, :value => (@site.default_columns_order) %>
      <%= form.hidden_field :page, :value => (params[:page] || 1) %>

      <h3> Filters </h3>

      <div id='filters'>
        <a class='button add-new-filter'> Add New Filter </a>
      </div>

      <h3> Order </h3>

      <div id='order'>
        <%= form.fields_for :order do |order_fields| %>
            <%= order_fields.select :by, (@fields || @site.default_columns_order).map { |field| [field,field] } %>
            <%= order_fields.select :direction, [:asc, :desc].map { |direction| [direction, direction] } %>
        <% end %>
      </div>

      <%= form.submit(:submit) %>
  <% end %>
</div>




<div class="available-columns-wrapper">
  <h3>Excluded columns</h3>
  <div id='available-columns' class='connectedSortable'></div>
</div>

<div class="available-columns-wrapper">
  <h3>Selected columns</h3>
  <div id='selected-columns' class='connectedSortable'>

    <% @site.default_columns_order.each_with_index do |column, index| %>
        <div class='column-header' id='column-<%= index + 1%>'>
          <%= column.to_s.humanize %>
        </div>
    <% end  %>

  </div>
</div>

<div id='db-table-placeholder'>
  <%= render :partial => 'table' %>
</div>


