<h1>Results for &lt;<%= link_to @site_title, site_path(@site) %>&gt; site</h1>
<!--div style="height:40px; overflow:hidden;"-->
<p style="  float: left;          line-height: 30px;          margin: 0 12px 0 0;           padding: 0;  ">
  <b>Site status:</b>
  <span site_id="<%= @site.id %>" class="<%= site_status_class @site %>"><%= @site.status %></span>
</p>
<%= run_button_for @site, false %>
<!--/div-->
<div style="clear:both;"></div>
<span id="filter_trigger" title="click to open filter">filter:</span><br/><br/>
<div id="filter">
  <h2>Filter</h2>

  <div class="form_hint">Filter options are joined with "AND" logic. Use % symbol in text fields as a wildcard (which
    means 'any number of arbitrary characters')
  </div>
  <%= form_tag site_results_path(@site), :method=> 'get' do %>
      <label title="Ref code starts with">Ref code: <%= text_field_tag :ref_code, params[:ref_code] %></label>
      <label title="Working title starts with">Working
        title: <%= text_field_tag :working_title, params[:working_title] %></label>
      <label title="Location starts with">Location: <%= text_field_tag :location, params[:location] %></label>
      <label title="Organization name starts with">Organization
        name: <%= text_field_tag :organization_name, params[:organization_name] %></label><label title="Brief description starts with">Brief
  description: <%= text_field_tag :brief_description, params[:brief_description] %></label>

      <label title="Time crawled not later than">Time
        crawled: <%= select_tag :time_span, options_for_select([
                                                                       ["all", 0],
                                                                       ["1 day ago", 24],
                                                                       ["3 days age", 72],
                                                                       ["last week", 144],
                                                                       ["last month", 720],
                                                                       ["last year", 8760]
                                                               ]) %></label>

      <div style="clear:both;"></div>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>




<div class="available-columns-wrapper">
  <h3>Excluded columns</h3>
  <div id='available-columns' class='connectedSortable'></div>
</div>

<div class="available-columns-wrapper">
  <h3>Selected columns</h3>
  <div id='selected-columns' class='connectedSortable'>

    <div class='column-header' id='column-1'>
      Ref Code
    </div>

    <% @site.column_names.each do |column| %>
        <div class='column-header' id='column-<%= @site.column_names.index( column ) + 2 %>'> <%= column.to_s.humanize %> </div>
    <% end %>

    <div class='column-header' id='column-<%= @site.column_names.length + 2 %>'>
      Time Crawled
    </div>

  </div>
</div>



<table class='db_table' cellpadding='0' cellspacing='1'>

  <thead>
  <tr id='table-header'>

    <th data-header="ref_code" class='accept'>
      <span class="drag-handle"> Ref Code </span>
    </th>

    <% @site.column_names.each do |column| %>
        <th data-header="<%= column %>" class='accept'>
          <span class="drag-handle"><%= column.to_s.humanize %></span>
        </th>
    <% end %>

    <th data-header="time_crawled" class='accept'>
      <span class="drag-handle"> Time Crawled </span>
    </th>

    <th colspan="2"> <div class='drag-handle'></div> Actions </th>


  </tr>
  </thead>

  <tbody>

  <% @results.each do |result| %>
      <tr class='data_row'>

        <td> <%= link_to result.ref_code, site_result_path(@site, result) %> </td>

        <% @site.xpaths.in_index.each do |xpath| %>
            <td> <%= truncate result.to_hash[ xpath.id ], :length => 150, :separator => ' ' %></td>
        <% end %>

        <td> <%= result.time_crawled %> </td>
        <td>
          <div id="button_result_<%= result.id %>" class="button_16" title="<%= t "hints.gears_button" %>"></div>
          <script>menus["button_result_<%= result.id %>"] = {
              items:[
                  {label:"Show", href:"<%= site_result_path @site,result %>" },
                  //{label:"Edit", href:"<%= edit_site_result_path  @site,result %>" }
              ]
          };
          </script>
        </td>


        <td><%= link_to image_tag('destroy.png', :border=>0),
                        result_path(result)+"?site_id=#{@site.id}",
                        :confirm => 'Are you sure?',
                        :method => :delete,
                        :title=>"Delete" %>
        </td>

      </tr>
  <% end %>

  </tbody>

</table>

