<h1>Results for &lt;<%= link_to @site_title, site_path(@site) %>&gt; site</h1>
<!--div style="height:40px; overflow:hidden;"-->
<p style="  float: left;          line-height: 30px;          margin: 0 12px 0 0;           padding: 0;  ">
  <b>Site status:</b>
  <span site_id="<%= @site.id %>" class="<%= site_status_class @site %>"><%= @site.status %></span>
</p>
<%= run_button_for @site, false %>
<!--/div-->
<div style="clear:both;"></div>


<%= render :partial => 'table_customizations' %>

<%= render :partial => 'column_boxes' %>

<div id='db-table-placeholder'>
  <%= render :partial => 'table' %>
</div>


